body {
  margin: 0 auto;
  font-family: Arial;
}

.zone {
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
}

/* Nav bar */
.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 0.7em;
  background: #457b9d;
}

.stick {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.push {
  margin-left: auto;
}

li {
  padding: 20px;
}

a {
  color: #f5f5f6;
  text-decoration: none;
}

/* Slider */
.cover-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1faee;
  overflow: hidden;
}

.slider-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

img {
  height: 460px;
  width: 850px;
  max-width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.description {
  color: #1d3557;
  font-size: 1.5em;
  padding: 8px 0px;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.circle {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px;
  margin-top: 80px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Quotes */
.quote {
  position: absolute;
  margin-top: 75px;
  max-width: 1000px;
  text-align: center;
  font-style: italic;
  font-size: 1.3em;
  color: #1d3557;
}

/* Flip boxes */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  background: #a8dadc;
  padding: 30px;
}

.area {
  width: 200px;
  height: 250px;
  margin: auto;
  perspective: 600px;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  border: 1px solid #1d3557;
}

.box.flip {
  transform: translateX(-100%) rotateY(-180deg);
}

.box-image {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 25px;
  backface-visibility: hidden;
}

.box-image-front {
  background: #1d3557;
  line-height: 250px;
}

.box-image-back {
  background: #e63946;
  transform: rotateY(180deg);
}

/* About */
.cover {
  display: flex;
  width: 40rem;
}

.avatar {
  border-radius: 50%;
  width: 210px;
  height: 210px;
  padding: 20px;
  margin-right: 15px;
}

/* Links */
footer {
  text-align: center;
  background: #1d3557;
  padding: 10px;
}

.fa {
  padding: 10px;
}

.fa:hover {
  opacity: 0.5;
}

.iconify {
  padding-left: 8px;
}

.iconify:hover {
  opacity: 0.5;
}

/* For mobile phones */
@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 0.5em;
    padding: 0px;
  }
  div.description {
    font-size: 1.1em;
    bottom: 30px;
  }
  span.circle {
    margin-top: 90px;
  }
  div.quote {
    font-size: 1em;
    margin-top: 45px;
  }  
  div.cover {
    display: block;  
}
  p, h2 {
    padding: 20px;
}
}